
<div class="div_ricerca_veicoli">
	<div class="row">
		<div class="col">
	<input type="button" id="chiudi_veicoli" value="Chiudi lista veicoli" class="btn btn-secondary"/>
	<p>Selezionare alcune lettere del campo "Descrizione" o nel campo "Targa" per fare apparire i veicoli</p>
		</div>
	</div>

		<div class="row">
				<div class="col">
					<table class="table table-hover" id="table_veicoli">
							<thead>
								<tr>
									<th></th>
									<th>Descrizione</th>
									<th>Targa</th>
									<th>Tipo</th>
									<th>Proprietà</th>
									<th></th>
								</tr>
							</thead>
							<tr>
								<td></td>
								<td><input type="text" class="veicoli_txt_ricerca" id="veicoli_descrizione_finder" name="descrizione_finder"></td>
								<td><input type="text" class="veicoli_txt_ricerca" id="veicoli_targa_finder" name="targa_finder"></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tbody id ="veicoli_to_update">
							</tbody>
					</table>
			</div>
	</div>
 </div>