{% extends 'base.html.twig' %}

{% block title %}New Veicoli{% endblock %}

{% block body %}
    <h1>Create new Veicoli</h1>

    {{ include('veicoli/_form.html.twig') }}

    <a href="{{ path('app_veicoli_index') }}">back to list</a>
{% endblock %}
