<div class="div_gestione_anomalie">
    <span>meccanico:<input
		type="text" id="id_meccanico_righe" value="" /></span>

	<br><span><input type="button" id="find_anomalia" type="button"
		value="cerca anomalia esistente da lavagna" /></span> <span>anomalia
		da lavagna:<input type="text" id="exist_anomalia" value="" readonly />
	</span> <span><input type="button" id="add_anomalia" type="button"
		value="aggiungi" /></span>
	
	<br><div>
	 <span>inserisci nuova anomalia:<input
		type="text" id="new_anomalia" value="" /></span>
	<span><input type="button" id="add_new_anomalia" type="button"
		value="crea nuova anomalia" /></span>
	</div>		
	 
</div>


