{% extends 'base.html.twig' %}

{% block title %}Edit Righe{% endblock %}

{% block body %}
    <h1>Edit Righe</h1>
    {{ include('righe/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
