{# <form method="post" action="{{ path('app_lavagna_delete', {'idL': lavagna.idL}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#     <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lavagna.idL) }}">#}
{#     <button class="btn">Delete</button>#}
{# </form>#}
