
{% for anomalia in anomalie %}
			<tr>
				<td>
					<i class="fa-solid fa-bolt-lightning ok_puntatore btnSelAnomalia"
					data_id_l="{{anomalia.id_l}}"></i>
					
					
					
				</td>
				<td>{{ anomalia.anomalia }}</td>
				<td></td>



			
			</tr>
{% endfor %}